<launch>
  <arg name="model" default="False"/>
  <arg name="aug" default="False"/>
  <node name="PoseEstimator" pkg="metrabs" type="run_metrabs_estimation.py" output="log" args="$(eval str(' -m ' + str(arg('model')) if arg('model') != 'False' else '') + str(' -a ' + str(arg('aug')) if arg('aug') else ''))"/>
</launch>
