<launch>
  <arg name="ai" default="metrabs" doc="Choose AI out of the following: (metrabs, spin)"/>
  <node name="MotionAnalysis_Receiver" pkg="motion_analysis" type="Receiver.py" args="-a $(arg ai)"/>
  <node name="MotionAnalysis_WorkerHandler" pkg="motion_analysis" type="WorkerHandler.py" args="-a $(arg ai)"/>
  <node name="MotionAnalysis_Visualizer" pkg="motion_analysis" type="Visualizer.py" args="-a $(arg ai)"/>
  <node name="MotionAnalysis_WebServer" pkg="motion_analysis" type="MotionAnalysisWebServer.py" />
</launch> 
