.DS_Store
.VSCodeCounter
__pycache__
build
install
log
.idea
.vscode
devel
build_isolated
devel_isolated
src/AI/spin/extra_data
src/AI/weight_detection/models
src/AI/weight_detection/data
src/AI/metrabs/models
node_modules
package-lock.json
bagfiles
package-lock.json
.gitignore
trainerai.sh
qt-station-calibration
Ultralytics
src/AI/metrabs/models/metrabs_multiperson_smpl
src/AI/metrabs/models/metrabs_multiperson_smpl_combined
src/AI/metrabs/models/metrabs_singleperson_smpl
src/AI/metrabs/cdf37_1-dist/
*.pt
data/
