.DS_Store
__pycache__
build
install
log
.idea
.vscode
devel
build_isolated
devel_isolated
src/AI/spin/extra_data
src/AI/weight_detection/data
src/AI/weight_detection/models
node_modules
package-lock.json
bagfiles
package-lock.json
.gitignore
trainerai.sh
