<div class="signup-container">
    <h3>Signup</h3>
    <div class="form-container">
        <form [formGroup]="signupForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> E-mail
                </mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                    <span *ngIf="signupForm.controls.email.errors?.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.email.errors?.email">Invalid email.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Username
                </mat-label>
                <input matInput formControlName="username" required>
                <mat-error *ngIf="signupForm.controls.username.touched && signupForm.controls.username.invalid">
                    <span *ngIf="signupForm.controls.username.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Password
                </mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                    <span *ngIf="signupForm.controls.password.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <div class="signup-actions">
                <button mat-button color="secondary" routerLink="/login">Login</button>
                <button mat-raised-button color="primary" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>