<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="">Digi-Gym</span>
      <button mat-button routerLink="social">Socials</button>
      <button mat-button routerLink="stations" routerLinkActive="accent">Stations</button>
      <button mat-button routerLink="statistics">Statistics</button>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/support" routerLinkActive="primary">
        <mat-icon>support_agent</mat-icon>
      </button>
      <button *ngIf="emergency" mat-icon-button><mat-icon>medical_services</mat-icon></button>
      <button mat-icon-button routerLink="/login" routerLinkActive="primary">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
