<div class="login-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Username
          </mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
            <span *ngIf="loginForm.controls.username.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <div class="login-actions">
            <button mat-button color="secondary" routerLink="/signup">Signup</button>
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>