.login-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.form-container{
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px
}

.form-field{
  display: block
}

.login-actions {
  display: table-cell;
}

.login-actions .mat-button-base {
  margin: 8px 8px 8px 0;
}
