<launch>
  <arg name="args" default=" " doc="            Parameters of Station Manager e.g: args:='-d'"/>
  <arg name="smo" default="log" doc="           Output of Station Manager, smo:=screen"/>
  <arg name="ai" default="metrabs" doc="        Choose AI out of the following: (metrabs, spin)"/>
  <arg name="debug_frames" default="3000" doc=" Debug Frame time in ms. At 0 there are no debug frames."/>
  <arg name="log_level" default="info" doc="    Choose from debug, info, warning, error, critical."/>
  <arg name="log_tags" default="msg" doc="   Logger tags which should be printed on the terminal."/>
  <arg name="neptune" default="prod" doc="      If Logy schould log to neptune."/>
  <include file="$(find logy_backend)/launch/logy_backend.launch">
    <arg name="log_level" value="$(arg log_level)"/>
    <arg name="log_tags" value="$(arg log_tags)"/>
    <arg name="neptune" value="$(arg neptune)"/>
  </include>
  <include file="$(find station_manager)/launch/station_manager.launch">
    <arg name="args" value="$(arg args)"/>
    <arg name="smo" value="$(arg smo)"/>
    <arg name="debug_frames" value="$(arg debug_frames)"/>
  </include>
  <include file="$(find infrastructure)/launch/mobile_server.launch"/>

  <include file="$(find metrabs)/launch/metrabs.launch" if="$(eval arg('ai') == 'metrabs')"/>
  <include file="$(find spin)/launch/spin.launch" if="$(eval arg('ai') == 'spin')"/>

  <include file="$(find object_detection)/launch/object_detection.launch" />
  <include file="$(find motion_analysis)/launch/motion_analysis_dev.launch">
    <arg name="ai" value="$(arg ai)"/>
  </include>
  <!-- <include file="$(find weight_detection)/launch/weight_detection.launch"/> -->
  <include file="$(find backend)/launch/SkeletonVisualizationHelper.launch">
    <arg name="ai" value="$(arg ai)"/>
  </include>
</launch>