<launch>
  <arg name="args" default=" " doc="Parameters of Station Manager e.g: args:='-d'"/>
  <!-- <include file="$(find infrastructure)/launch/all_cameras.launch">
    <arg name="cam_args" value="$(arg cam_args)"/>
  </include>  -->
  <include file="$(find infrastructure)/launch/station_manager.launch">
    <arg name="args" value="$(arg args)"/>
  </include>
  <include file="$(find infrastructure)/launch/mobile_server.launch" />
  <include file="$(find objectDetector)/launch/objectDetector.launch" />
  <include file="$(find motion_analysis)/launch/motion_analysis.launch" />
  <node name="SpinVis" pkg="backend" type="SpinVis.py" />
</launch> 
 
