<launch>
  <include file="$(find infrastructure)/launch/all_cameras_syn.launch" />
  <include file="$(find infrastructure)/launch/param_updater.launch" />
  <include file="$(find infrastructure)/launch/mobile_server.launch" />
  <include file="$(find spin)/launch/spin_syn.launch" />
  <include file="$(find objectDetector)/launch/objectDetector_syn.launch" />
  <include file="$(find motion_analysis)/launch/motion_analysis.launch" />
  <node name="SpinVis" pkg="backend" type="SpinVis.py" />
</launch> 
 
