<div class="station-container">
  <mat-card class="station-card" *ngIf="station">
    <mat-card-header>
      <div mat-card-avatar class="station-card-image"></div>
      <mat-card-title>Station {{station!.id}}</mat-card-title>
      <mat-card-subtitle>{{station!.name}}</mat-card-subtitle>
    </mat-card-header> 
    <img mat-card-image [src]="canvasDataUrl" alt="station-pic">
    <mat-card-content>
      <button mat-button>Camera</button>
      <br>
      <p>
        Erkannte Objekte:
        <span *ngFor="let objDetection of station!.objDetections; let i = index">
          {{objDetection}}<span *ngIf="i != station!.objDetections.length - 1">, </span>
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn">Deactivate</button>
  
      <button mat-button>Statistics</button>
    </mat-card-actions>
  </mat-card>
</div>
<canvas mat-card-image width="1920" height="1080" #canvas id="canvas" [hidden]=true></canvas>
